<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />

<form action="/register" method="POST" id="form2">
	<div class="register">
		<div class="login-screen">
			<div class="app-title">
				<h1>Register(Under Construction)</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="confirm password" name="confirm_password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

                <input type="submit" name="button1" value="Register" class="btn btn-primary btn-large btn-block" form="form2">
				{% if error %}
                    <p><strong>Error:</strong> {{ error }}
                {% endif %}
			    <br>
			</div>
		</div>
	</div>
</form>
